[submodule "plugins/slack"]
	path = plugins/slack
	url = https://github.com/bravecollective/neucore-plugin-slack.git
[submodule "plugins/forum"]
	path = plugins/forum
	url = https://github.com/bravecollective/neucore-plugin-forum.git
[submodule "plugins/discord"]
	path = plugins/discord
	url = https://github.com/bravecollective/neucore-discord-plugin.git
[submodule "plugins/mumble"]
	path = plugins/mumble
	url = https://github.com/bravecollective/neucore-mumble-plugin.git
[submodule "plugins/brave-general"]
	path = plugins/brave-general
	url = https://github.com/bravecollective/neucore-plugin-general.git
