option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web

files:
  "/etc/php.d/app.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      error_log = /var/app/shared/logs
  "/etc/cron.d/app-run-jobs":
    mode: "000644"
    owner: root
    group: root
    content: |
      30 1,3,5,7,9,11,13,15,17,19,21,23 * * * webapp . /opt/elasticbeanstalk/deployment/custom_env_var && /usr/bin/flock -n /var/app/shared/run-jobs-2.lock /var/app/current/files/run-jobs-2.sh
      0  0,4,8,12,16,20 * * *                 webapp . /opt/elasticbeanstalk/deployment/custom_env_var && /usr/bin/flock -n /var/app/shared/run-jobs-4.lock /var/app/current/files/run-jobs-4.sh
      0  5,13,21 * * *                        webapp . /opt/elasticbeanstalk/deployment/custom_env_var && /usr/bin/flock -n /var/app/shared/run-jobs-8.lock /var/app/current/files/run-jobs-8.sh
    leader_only: true

commands:
  clear_cron_backup:
    command: rm -f /etc/cron.d/app-run-jobs.bak
    ignoreErrors: true
