Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-203718286552"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/var/app/config/mumble.php":
    mode: "000666"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://elasticbeanstalk-us-east-2-203718286552.s3.us-east-2.amazonaws.com/configuration/mumble/config.php"
  "/var/app/config/forum.php":
    mode: "000666"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://elasticbeanstalk-us-east-2-203718286552.s3.us-east-2.amazonaws.com/configuration/forum/config.php"
