Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-203718286552"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/var/app/config/slack-channel-manage.php":
    mode: "000666"
    owner: root
    group: root
    authentication: "S3Auth"
    source: "https://elasticbeanstalk-us-east-2-203718286552.s3.us-east-2.amazonaws.com/configuration/slack-channel-manage/config.php"
  "/etc/cron.d/slack-channel-manage":
    mode: "000644"
    owner: root
    group: root
    content: |
      */12 * * * * webapp . /opt/elasticbeanstalk/deployment/custom_env_var && /var/app/current/slack-channel-manage/bin/console run >> /var/app/shared/logs/slack-channel-manage-`date +\%Y-\%m`.log
    leader_only: true

commands:
  01_clear_cron_backup:
    command: rm -f /etc/cron.d/slack-channel-manage.bak
    ignoreErrors: true
